h1{
    color:rgb(255, 251, 2);

    border: 2px dashed yellow;
}

h4{
    color: rgb(217, 219, 223);
}

li{
    color: rgb(142, 142, 145);
    font-size: 15;
    font-style: italic;
}

body{
    background-image: url('https://www.sitedecuriosidades.com/foto/galeria/B3F1F7DC.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
}